<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/actualizar.css">
    <title>ACTUALIZAR</title>
    
</head>
<body>
    <div class="actualizar">
        <h2>INGRESE LOS DATOS</h2>
        <form action="" method="PUT">
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="text" name="plataforma" placeholder="Plataforma" required>
            <input type="text" name="new_password" placeholder="nueva contraseña" required>
            <input type="text" name="new_email" placeholder="nuevo email" required>
            <input type="submit" value="ACTUALIZAR">
        </form> 
    </div>
    {% if update %}
        <div class="mensaje">
            <p>{{ update }}</p>
        </div>
    {% endif %}  

    
</body>
</html>